header{
    display: flex;
    align-items: center;
}

.controls {
    display: flex;
    list-style-type: none;
    align-items: center;
}

li{
    flex: 1 1 0;
}

.guessesTable{
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 10em;

}

.guessesRow{
    display: flex;
    


}

.guessesDiv{
    border: 1px solid whitesmoke;
    flex: 1 1 0;
    height: 1em;

}